<div class="row-bg">
  <est-pagewidth-container class="row-content" hGutter="true" vGutter="true">
    <div>
      <h1>Cadeaubonnen</h1>
      <p>Onze salon heeft eigen cadeaubonnen die in te vullen zijn naar behoefte.</p>
      <p>Dit kan vanaf € 5,00 voor ieder bedrag maar er kan ook een omschrijving worden gegeven voor de soort
        behandeling.</p>
      <p>Ook kan de cadeaubon worden opgestuurd nadat het bedrag vooruit is voldaan.</p>
    </div>
    <div>
      <est-lightbox-image
        src="../../../assets/misc/cadeaubon.jpg"></est-lightbox-image>
    </div>
  </est-pagewidth-container>
</div>

