@import '../../../globals';

.footer-bg {
    background-color: #000;
}

.footer-content {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
        flex-grow: 1;
        @include xs() {
            flex-basis: 100%;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}

.footer-logo {
    max-width: 100%;
    width: 100px;
    margin-bottom: 10px;
}

.footer-contact {
    & .fa {
        max-width: 16px !important;
        width: 16px;
        height: 16px;
    }
    @include xs() {
        text-align: center;
    }
}

p {
    margin-bottom: 0;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer-logos-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        img {
            width: 100px;
            height: auto;
            margin-left: 30px;
            @include sm() {
                margin: 0;
            }
        }
        @include sm() {
            justify-content: space-around;
        }
    }
}
