<div class="footer-bg">
    <est-pagewidth-container class="footer-content" [hGutter]="true" [vGutter]="true">
        <div class="footer-contact">
            <img class="footer-logo" src="../../../assets/logos/ESTHETYS_LARGE_LIGHT.png" />
            <h5>Contact & Adres</h5>
            <p>
                <i class="fa fa-phone-square"></i> <b>Tel.</b> 06 - 2940 5493<br />
                <i class="fa fa-envelope"></i> <b>E-mail:</b> <a href="mailto:info@esthetys.nl">info&#64;esthetys.nl</a
                ><br />
                <i class="fa fa-address-book"></i> Kometenstraat 117, 1223CJ, Hilversum<br /><br />
                Geopend op maandag, woensdag en vrijdag.
            </p>
        </div>
        <div class="footer-logos">
            <div class="footer-logos-container">
                <div><img src="../../../assets/logos/anbos.png" /></div>
                <div><img src="../../../assets/logos/kvk.png" /></div>
                <div><img src="../../../assets/logos/pin.png" /></div>
                <div><img src="../../../assets/logos/sbb-n4.png" /></div>
            </div>
        </div>
    </est-pagewidth-container>
</div>
