@import '../../../globals';

* {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.header-row-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gezichts-row-bg {
  color: #FFF;
  background-color: #556d08;

  .treatment-item {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.gezichtsuitbereidingen-row-bg {
  color: #FFF;
  background-color: #000;

  .treatment-item {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.diversen-row-bg {
  color: #000;

  .treatment-item {
    color: #FFF;
    background-color: #556d08;
  }
}

.treatment-row-title h1 {
  text-align: center;
}

.treatment-row-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  //align-items: center;

  & > div {
    flex: 1 1 calc(50% - 40px);

    @include sm() {
      flex: 1 1 calc(100% - 40px);
    }
  }
}

.treatment-item {
  margin: 20px;
}

.treatment-item-img {
  width: 100%;
}

.treatment-item-content {
  padding: 20px;
}

.treatment-item-title {

}

.treatment-item-time {

}
