<div class="header-row-bg">
    <est-pagewidth-container class="header-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Onze Behandelingen</h1>
            <p>
                Iedere behandeling, een cadeautje voor jezelf.
            </p>
        </div>
    </est-pagewidth-container>
</div>
<div class="gezichts-row-bg">
    <est-pagewidth-container class="treatment-row-title" hGutter="true" vGutter="true">
        <h1>Gezichts<wbr />behandelingen</h1>
    </est-pagewidth-container>
    <est-pagewidth-container class="treatment-row-content" hGutter="true" vGutter="true">
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/standaardgezichts.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Standaard gezichts<wbr />behandeling</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>Een complete gezichts<wbr />behandeling bestaande uit:</p>
                <p>
                    Aangepaste reiniging, peeling, epileren, handmatig verwijderen van huidonreinheden zoals
                    bijvoorbeeld comedonen en gerstekorrels, lymfedrainage met glazen klokjes, massage, aangepast masker
                    en huidverzorging.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/energetisch.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Energetische gezichts<wbr />behandeling</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:45 - 2 uur)
                </h2>
                <p>
                    Een behandeling waarbij vooraf aan de gezichtsbehandeling op de rug en buik d.m.v. lymfedrainage met
                    glazen klokken wordt gewerkt. Hierbij worden energiebanen langs de ruggengraat geënerveerd die de
                    organen een nieuwe boost geven. Afvalstoffen worden beter afgevoerd en u voelt zich als herboren.
                </p>
                <p>
                    Vervolgens wordt de standaard gezichtsbehandeling (zie hiernaast uitgevoerd)
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/aromatisch.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Aromatische gezichts<wbr />behandeling</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>
                    Een complete gezichtsbehandeling waarbij uitsluitend essentiële en plantaardige oliën worden
                    gebruikt en samengesteld. Aangepast aan wat de cliënt wenst en nodig heeft. Dit geld voor alle
                    aspecten die binnen de gezichtsbehandeling aan de orde komen. Er kan gekozen worden voor een
                    gezichtslymfedrainage of een hoofdhuidmassage (met of zonder haarbescherming) voorafgaand aan de
                    gezichtsmassage.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/sensitiveskin.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Sensitive skin behandeling</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>
                    Specifieke behandeling voor de gevoelige, kwetsbare en gestreste huid die snel reageert op interne
                    of externe prikkels. Een huid die snel geïrriteerd is, last heeft van roodheid of warmte in de huid.
                </p>
                <p>Het doel is dat de huid kalmeert, weer goed gehydrateerd en gevoed is en ontspannen aanvoelt.</p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/beschadigd_droog.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Behandeling voor droge en beschadigde huid</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>
                    Deze behandeling is geschikt voor droge en rijpere huiden met weinig elasticiteit en voor een huid
                    met duidelijke tekorten.
                </p>
                <p>
                    Deze luxe behandeling met kaviaar werkt hydraterend en vult tekorten van de huid aan. Tevens
                    bevatten de producten in deze behandeling stoffen die sterk werken tegen vrije radicalen. Echt een
                    behandeling om vroegtijdige veroudering tegen te gaan.
                </p>
                <p>
                    Na deze behandeling voelt de huid weer gevoed, vol en gehydrateerd aan met meer glans en minder
                    fijne lijntjes.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/zuurstof.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Zuurstofbehandeling</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>
                    Een behandeling als regelrechte oppepper voor de huid. Deze behandeling is geschikt voor ieder
                    huidtype en elke leeftijd. Zeer geschikt voor de doffe, grauwe en futloze huid maar ook na een
                    periode van ziekte en of stress.
                </p>
                <p>
                    Deze behandeling verbeterd de microcirculatie in de cellen, de doorbloeding en voorziet de cellen
                    van zuurstof.
                </p>
                <p>
                    De huid raakt weer beter doorbloed en krijgt weer betere glans. Het gezicht krijgt weer een nieuwe
                    frisheid en oogt energieker.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/fruitzuur.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Vitamine C behandeling (fruitzuurbehandeling)</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:45 - 2 uur)
                </h2>
                <p>
                    Deze behandeling ondersteunt de huid bij vroegtijdige huidveroudering. Een vitamine boost voor de
                    huid. Mede door de fruitzuurbehandeling in deze behandeling krijgt de huid weer lucht om te ademen
                    en zullen daarna producten ook beter hun werk kunnen doen.
                </p>
                <p>Pigmentverstoringen worden aangepakt die bij het ouder worden helaas vaker voorkomen.</p>
                <p>Deze zeer uitgebreide behandeling is om de huid weer even flink aan te pakken en te resetten.</p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/antiage.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Anti-age behandeling met 24k goud en diamant</h1>
                <h2 class="treatment-item-time">
                    (ca. 1:30 - 2 uur)
                </h2>
                <p>
                    Dit is onze meest exclusieve salonbehandeling met diamant, 24K goud, parel en zijde de meest
                    kostbare en waardevolle schatten uit de aarde. Deze behandeling verminderd rimpels, verstevigd een
                    verslapte huid, verlicht de huid van stress. Tijdens deze behandeling komt de huid weer terug in
                    balans. De behandeling biedt een diepe hydratatie en de huidtonus wordt verbeterd. Door het gebruik
                    van magneten tijdens de peeling met diamant wordt een magnetisch veld gegenereerd die de
                    doorbloeding verbeterd. En een massage met echt bladgoud dat cel vernieuwing stimuleert, afbraak van
                    collageen vermindert en een bio energetische werking heeft. De cellen krijgen meer zuurstof. De huid
                    heeft weer een frisse en jeugdige uitstraling.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/acne.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Acne<wbr />behandeling<br>(korte behandeling)</h1>
                <h2 class="treatment-item-time">
                    (ca. 1 uur)
                </h2>
                <p>
                    Deze korte behandeling is gericht op reiniging van het gezicht. Zeer geschikt voor jongeren met acne
                    zodat eventueel een wat frequentere behandeling realiseerbaar is. Maar ook voor mensen die weinig
                    tijd hebben of het geduld niet hebben om lang te liggen.
                </p>
                <p>
                    De behandeling bestaat uit een reiniging gevolgd door een aangepaste dieptereiniging. Vervolgens
                    wordt met de hand zoveel mogelijk alle onreinheden uit de huid verwijderd zoals comedonen en
                    gerstekorrels. Daarna volgt een masker om de reiniging te completeren.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/mesotherapie.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Mesotherapie<br />(micro-needling therapy)</h1>
                <p>DÉ kuurbehandelingen voor huidverbetering met Allisimed.</p>
                <p>
                    Dit is een doeltreffende behandeling tegen problemen zoals littekens, rimpelvorming en
                    pigmentvlekken.
                </p>
                <p>
                    Micro-needling is een behandeling meestal in kuurverband. Het is een veilige, effectieve en nagenoeg
                    pijnloze behandeling. Geschikt voor het hele gelaat maar ook voor delen van het gezicht.
                    Bijvoorbeeld fijne lijntjes rond de ogen, verticale lijntjes op de bovenlip, oppervlakkige
                    ouderdomsvlekken en littekens, frons of horizontale lijntjes op het voorhoofd, enz.
                </p>
                <p>
                    Er wordt gewerkt met een MesoPen die minuscule kanaaltjes in de huid maakt dmv kleine verticaal
                    trillende micronaaldjes. Hier worden actieve biologische werkstoffen ingesluisd in de huid.
                </p>
                <p>
                    De huid wordt zo geprikkeld om collageen en elastine aan te maken. De actieve werkstoffen bevorderen
                    het herstellend vermogen van de huid, met huidverjonging en huidverbetering tot resultaat. Deze
                    werkstoffen zijn speciaal ontworpen om de vermoeide of doffe huid te verstevigen, revitaliseren en
                    intens te hydrateren.
                </p>
                <p>
                    Voorafgaand aan de behandelingen zal er een intakegesprek plaatsvinden om alles uitgebreid uit te
                    leggen en te overleggen wat er mogelijk is.
                </p>
                <p>Voor meer vragen, neem vrijblijvend <a [routerLink]="['/contact']" style="color: white; text-decoration: underline;">contact</a> op!</p>
            </div>
        </div>
    </est-pagewidth-container>
</div>
<div class="gezichtsuitbereidingen-row-bg">
    <est-pagewidth-container class="treatment-row-title" hGutter="true" vGutter="true">
        <h1>Uit<wbr />bereidingen voor gezichts<wbr />behandelingen</h1>
    </est-pagewidth-container>
    <est-pagewidth-container class="treatment-row-content" hGutter="true" vGutter="true">
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/hoofdhuidmassage.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Hoofdhuid<wbr />massage</h1>
                <h2 class="treatment-item-time">
                    (ca. 15 min)
                </h2>
                <p>
                    Voor extra ontspanning
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/warmwaterzak.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Rug massage op een warmwater<wbr />kussen</h1>
                <h2 class="treatment-item-time">
                    (ca. 15 min)
                </h2>
                <p>
                    Tijdens deze massage ligt u op uw rug op een kussen dat gevuld is met heerlijk warm water. Een soort
                    grote kruik. Tijdens de massage bewegen wij onze handen tussen uw rug en dit kussen met een
                    rijkelijke hoeveelheid massageolie aangepast aan uw wensen. Dit geeft een enorme ontspanning maar
                    ook een goede doorbloeding waardoor afvalstoffen worden verwijderd. Heel goed voor stijve spieren!
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/lymfedrainage.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Lymfedrainage / Cupping
                </h1>
                <p>
                    Bij ons wordt lymfedrainage uitgevoerd door middel van glazen klokjes in verschillende formaten die
                    zijn verbonden door middel van een slangetje aan een apparaat dat een zuigende werking heeft met een
                    interval. Hiermee wordt over de huid bewogen om zo via een pompende beweging de lymfe af te voeren
                    naar de bloedbaan.
                </p>
                <p>
                    Ons lymfesysteem heeft in tegenstelling tot onze bloedsomloop een passieve circulatie en wordt
                    uitsluitend door omliggend spierweefsel en kleppen in de lymfebanen in beweging gebracht, terwijl
                    het hart ervoor zorgt dat ons bloed wordt rondgepompt. Lymfevocht bevat o.a. veel afvalstoffen die
                    door middel van drainage kunnen worden afgevoerd.
                </p>
                <p>
                    De huid wordt in de diepte gereinigd. Dit zorgt ervoor dat de cellen een verbeterde stofwisseling
                    krijgen en de huid vanuit dieper gelegen weefsel beter wordt gevoed. Hierdoor gaat het
                    verouderingsproces langzamer en eventuele vochtophopingen worden afgevoerd.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/ultrazone.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Ultrazone therapie
                </h1>
                <p>
                    Bij ultrazonetherapie wordt gebruik gemaakt van radiogolven. We kennen dit fenomeen inmiddels al via
                    de fysiotherapeut en de bekende echo’s bij zwangerschap.
                </p>
                <p>
                    Hoe werkt het?: Het weefsel in de huid wordt door ultrazone golven in beweging gebracht waardoor de
                    temperatuur in de huid stijgt. Hierdoor verbeterd de doorbloeding, de stofwisseling wordt
                    geactiveerd in de diepere huidlagen, de aanmaak van collageen wordt verbeterd, waardoor de
                    elasticiteit van de huid verbeterd. Ultrazone werkt ontslakkend en de zuurgraad wordt verbeterd.
                    Bloedvaatjes worden versterkt.
                </p>
                <p>
                    Tevens zorgen de ultrazone golven ervoor dat werkstoffen dieper in de huid kunnen doordringen
                    waardoor het effect daarvan nog beter is. Het geheel van deze effecten zorgt ervoor dat de huid
                    steviger wordt en gaat rimpelvorming tegen.
                </p>
                <p>
                    Ultrazone is o.a. in te zetten bij:
                </p>
                <p>
                    Huidverbetering in het algemeen, acne, vale grove huid, slecht doorbloedde huid, eczeemhuid,
                    littekens, huidverslapping, cellulitis, enz.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/biostimulatie.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">Electro<wbr />bio<wbr />stimulatie</h1>
                <p>
                    Bij electrobiostimulatie wordt gebruik gemaakt van een zeer lage elektrische puls ter stimulering
                    van de zenuwen die de spieren aanzetten tot beweging. Dit gebeurt door 2 electroden te plaatsen op
                    de huid op daarvoor specifieke plaatsen.
                </p>
                <p>
                    Hierdoor wordt de elektrische stroom die normaal door de zenuwen worden doorgegeven aan de spieren
                    nagebootst en krijgen deze specifieke spieren een zeer lokale “training”. Dit geeft een liftend
                    effect en wordt de huid geregenereerd en versterkt.
                </p>
                <p>
                    Electrobiostimulatie is in te zetten bij:
                </p>
                <p>
                    verslapte huid, verouderde huid, vermoeide en overbelaste spieren.
                </p>
                <p>
                    U bepaalt zelf hoe intensief U de behandeling wilt ondergaan.
                </p>
                <p>
                    U voelt een lichte prikkeling en samentrekking van de spieren.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/epileren.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Epileren
                </h1>
                <p>
                    Epileren zit bij alle gezichtsbehandelingen inbegrepen behalve bij de korte/acnebehandeling.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/harsen_bovenlip.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Harsen bovenlip, kin, of hele gelaat.
                </h1>
                <p>
                    Harsen wordt hier uitgevoerd met een hars die verrijkt is met azuleen een stofje uit de kamille. Dit
                    werk verzachtend en ontstekingsremmend. Daarnaast wordt de huid na het harsen verzorgd met een
                    verkoelende aloëgel of een verzachtende olie van pepermunt, kruidnagel en geranium die ook
                    ontstekingsremmende en verzachtende werking heeft.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/verven.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Verven van wimpers en/of wenkbrauwen
                </h1>
                <p>
                    De kleur wordt in samenwerking met u bepaald. Gemiddeld blijft de kleur ca. 6 weken zitten. Dit
                    heeft te maken met de haar die circa 3 maanden, van begin tot uitval, leeft. De hoeveelheid “oudere”
                    c.q. “nieuwere” haren bepaald hoelang de verf blijft zitten.(ze vallen nl. nooit allemaal tegelijk
                    uit). Ook de invloed van zon en chloorwater heeft een negatieve invloed op de houdbaarheid van de
                    verf.
                </p>
            </div>
        </div>
    </est-pagewidth-container>
</div>
<div class="diversen-row-bg">
    <est-pagewidth-container class="treatment-row-title" hGutter="true" vGutter="true">
        <h1>Diverse andere behandelingen</h1>
    </est-pagewidth-container>
    <est-pagewidth-container class="treatment-row-content" hGutter="true" vGutter="true">
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/harsen_lichaam.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Harsen op het lichaam
                </h1>
                <p>
                    Onder andere, benen, zowel onder als boven, oksels, bikinilijn, rug, of schouders.
                </p>
                <p>
                    Ook voor mannen is dit een mogelijkheid.
                </p>
            </div>
        </div>
        <div class="treatment-item">
            <est-lightbox-image
                class="treatment-item-img"
                src="../../../assets/behandelingen/elektrisch_ontharen.jpg"
            ></est-lightbox-image>
            <div class="treatment-item-content">
                <h1 class="treatment-item-title">
                    Elektrisch Ontharen
                </h1>
                <p>Elektrisch ontharen is een methode om DEFINITIEF van overbeharing af te komen.</p>
                <p>
                    De methode is geschikt voor praktisch alle typen overbeharing (behalve donshaar) over het hele
                    gezicht en lichaam, maar met name voor kleinere oppervlakken. Ook lichtere en pigmentloze haren
                    kunnen worden behandeld. Dit in tegenstelling tot laserontharing! De methode is in Amerika in 1948
                    ontwikkeld en wordt sinds 1980 in Nederland toegepast.
                </p>
                <p>Elektrisch ontharen is GEEN laserontharing.</p>
                <ul>
                    <li>
                        <p>
                            <b>Blijven alle haren weg?</b><br />
                            Haren bij de mens verkeren in verschillende groeifases. Ongeveer 85% verkeert in de
                            groeifase oftewel anagene fase. Dit is de fase waarin de haar contact maakt met de bodem van
                            de haarfollikel waar de haar gevormd en gevoed wordt. Buiten deze fase verkeren ca.15 % van
                            de haren in een soort rustfase en is het contact verbroken. Alleen in de groeifase is het
                            mogelijk het haarzakje te vernietigen. Dit is 1 van de redenen waardoor een haar weer terug
                            kan komen want aan de buitenkant van de huid is niet te zien in wat voor fase de haar
                            verkeerd. Daarnaast zijn er nog andere faktoren waardoor haargroei weer terug kan komen.
                            Bijvoorbeeld hormoonveranderingen zoals de overgang of afwijkingen aan de schildklier kunnen
                            nieuwe haargroei veroorzaken. Evenals het gebruik van bepaalde medicijnen.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Is het voor iedereen geschikt?</b><br />
                            Voor mensen met metalen prothesen, of een pacemaker is het niet geschikt. Evenals bepaalde
                            ziekten zoals epilepsie, kanker en diabetes waarbij insuline wordt gespoten. Ook
                            zwangerschap is een tijdelijke contra-indicatie.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Hoe werkt het?</b><br />
                            De te behandelen haren worden 1 voor 1 behandeld met een superdun naaldje. Dit naaldje gaat
                            evenwijdig aan de haar de haarschacht in tot aan de bodem van de haarfollikel. Vervolgens
                            wordt er d.m.v. wisselstroom een stroompje gegeven waarbij warmte ontstaat waardoor het
                            haarzakje wordt vernietigt en er geen nieuwe haar meer geproduceerd kan worden. Dit wordt de
                            diathermiemethode genoemd. Daarnaast is er de blendmethode hier wordt naast wisselstroom ook
                            gelijkstroom gebruikt. Hierdoor ontstaat elektrolyse en wordt loog gevormd in de
                            haarfollikel dat eveneens het haarzakje vernietigt. Deze methode gaat wat langzamer maar de
                            kans dat de haar terugkomt is kleiner.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Wat voor huidreacties kunt U verwachten?</b><br />
                            Na een behandeling kan de huid wat rood, gezwollen en geïrriteerd zijn. Een enkele keer
                            kunnen er blaasjes of rode puntjes ontstaan.
                        </p>
                        Adviezen voor thuis na de behandeling:
                        <ul>
                            <li>Geen haren uittrekken, scheren of knippen mag wel.</li>
                            <li>
                                Bij zwelling of roodheid mogen ijsblokjes gebruikt worden (in een plastic zakje en
                                washandje in ieder geval niet direct op de huid)
                            </li>
                            <li>24 uur niet in de zon of onder zonnebank.</li>
                            <li>24 uur niet in de sauna.</li>
                            <li>Kalmerende gel gebruiken (zo vaak als nodig is)</li>
                            <li>Niet krabben of peuteren.</li>
                            <li>Geen vette crème of zeep gebruiken.</li>
                            <li>Bij jeuk koude kompressen gebruiken.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin: 16px;"></div>
    </est-pagewidth-container>
</div>
