<est-home-slider></est-home-slider>
<div class="home-row-bg">
    <est-pagewidth-container class="home-row-content">
        <div>
            <h1>Over ons</h1>
            <p>
                Welkom op de site van Schoonheidssalon en Shiatsupraktijk Esthetys.<br /><br />
                Onze praktijk is gericht op een natuurlijke manier van werken om onze huid maar ook ons welzijn te
                verbeteren.<br />
                In onze praktijk kunt u terecht voor behandelingen met meer diepgang, letterlijk en figuurlijk.<br />
                We streven naar een betere balans tussen lichaam en geest.<br />
                Wij werken met biologische producten en essentiële oliën.<br />
                De behandelingen worden per persoon, maar ook per keer aangepast; zodat ieder op individuele wijze een
                unieke<br />
                behandeling krijgt met een langere uitwerking. Uiteraard in overleg en gericht op uw wensen.<br />
                De Shiatsu praktijk doet dat op therapeutisch gebied.
            </p>
        </div>
    </est-pagewidth-container>
</div>
<div class="about-row-bg">
    <est-pagewidth-container class="about-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Even kennismaken</h1>
            <p>
                Ik ben Susan Mulders. Sinds 1989 werk ik met veel plezier in de schoonheidssalon. Daarvoor heb ik in een
                antroposofische apotheek gewerkt. Daarnaast heb ik een yoga docentenopleiding gedaan. Evenals een
                medisch pedicureopleiding en heb de beroepsopleiding voor IFA aromatherapeut afgerond. Het is fijn te
                kunnen werken met de “bagage” die ik heb mogen leren in mijn verleden. Het geeft mij meer inzicht en
                diepgang in mijn huidige werk.
            </p>
            <p>
                Ik werk samen met mijn collega Lia Jansen. Zij is hier gestart als stagiaire en werkt sinds 2008 met
                veel plezier bij ons in de salon. Zij is gespecialiseerd in acnebehandelingen en bindweefselmassage en
                vindt lichaamsmassage erg fijn om te doen. Regelmatig hebben wij ook een stagiaire, daar wij een erkend
                niveau 4 stagebedrijf zijn.
            </p>
            <p>
                Een aantal jaar geleden is mijn man Eric Mulders bij de praktijk gekomen als Shiatsu therapeut. Dit is
                een welkome aanvulling om mensen ook therapeutisch te kunnen helpen beter in balans te komen.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/home/overons.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="salon-row-bg">
    <est-pagewidth-container class="salon-row-content" hGutter="true" vGutter="true">
        <h1>De Salon</h1>
        <p>
            Sinds 1998 zit onze praktijk onder het huis. Hierdoor hebben wij twee behandelkamers waarvan één met douche.
            Daarnaast hebben wij een gezellige wachtruimte en toilet kunnen realiseren. Hieronder een impressie van onze
            sfeervolle praktijk.
        </p>
        <div class="salon-row-images">
            <est-lightbox-image src="../../../assets/home/salon2.jpg"></est-lightbox-image>
            <est-lightbox-image src="../../../assets/home/salon1.jpg"></est-lightbox-image>
            <est-lightbox-image src="../../../assets/home/salon3.jpg"></est-lightbox-image>
            <est-lightbox-image src="../../../assets/home/salon4.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="products-row-bg">
    <est-pagewidth-container class="products-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Onze Producten</h1>
            <p>
                Wij werken met verschillende merken die stuk voor stuk streven zoveel mogelijk biologisch en natuurlijk
                te zijn. Hierbij wordt ook gelet op milieu met betrekking tot ingrediënten, verpakkingen en
                produktiemethodes.
            </p>
            <p>
                Voor ons is dit essentieel in onze behandelingen zodat er zo min mogelijk belastend wordt gewerkt voor
                ons systeem, maar ook voor onze omgeving. Zie voor meer specifieke informatie per merk onder het hoofdje
                <a href="/" routerLink="/produkten">Produkten</a>.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/home/produkten.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
