<div class="pane">
    <div class="pane-header">
        <div class="header-logo">
            <img src="../../../assets/logos/ESTHETYS_LARGE_LIGHT.png"/>
        </div>
        <button class="btn-close" (click)="close()"><span>×</span></button>
    </div>
    <div class="pane-content">
        <h3>
            Ons COVID-19 Hygiëneprotocol
        </h3>
        <p>
            Met betrekking tot het coronavirus gelden nog steeds enkele regels. Kom niet naar de praktijk als je last
            hebt van:
        </p>
        <ul>
            <li>Neusverkoudheid</li>
            <li>Loopneus</li>
            <li>Niezen</li>
            <li>Keelpijn</li>
            <li>Lichte hoest</li>
            <li>Verhoging (tot 38 graden)</li>
            <li>Koorts (vanaf 38 graden)</li>
            <li>Benauwdheidsklachten</li>
        </ul>
        <p>
            Dit geldt ook voor mensen die reeds gevaccineerd zijn.
        </p>
        <p>
            Als er iemand in de thuissituatie is en koorts heeft en/of benauwdheidsklachten kan de praktijk ook niet
            bezocht worden. Ook als iemand uit het gezin in quarantaine zit, kan de praktijk niet bezocht worden.
            Uiteraard geldt dit andersom ook en moet ik ook afbellen als ik deze verschijnselen heb helaas.
        </p>
        <p>
            Het dragen van een mondkapje is niet langer verplicht maar mag uiteraard wel. Ik zal zelf wel een mondkapje
            dragen tijdens de behandelingen.
        </p>
        <p>
            Ook het handen wassen in het toilet blijft van kracht.
        </p>
        <p>
            Ik hoop jullie in goede gezondheid weer te zien.
        </p>
        <p>
            Tot gauw!
        </p>
        <p>
            Lieve groet, <br>Susan
        </p>
    </div>
</div>
