<div class="pane">
    <div class="pane-header">
        <div class="header-logo">
            <img src="../../../assets/logos/ESTHETYS_LARGE_LIGHT.png" />
        </div>
        <button class="btn-close" (click)="close()"><span>×</span></button>
    </div>
    <div class="pane-content">
        <h3>
            Ons COVID-19 Hygiëneprotocol
        </h3>
        <p>
            Gelukkig zijn de schoonheidssalons opnieuw weer open! Wij moeten ons nog steeds aan strenge regels houden.
        </p>
        <p>
            Uiteraard kan onze praktijk niet bezocht worden als er verschijnselen zijn zoals:
        </p>
        <ul>
            <li>Neusverkoudheid</li>
            <li>Loopneus</li>
            <li>Niezen</li>
            <li>Keelpijn</li>
            <li>Lichte hoest</li>
            <li>Verhoging (tot 38 graden)</li>
            <li>Koorts (vanaf 38 graden)</li>
            <li>Benauwdheidsklachten</li>
        </ul>
        <p>
            Dit geldt ook voor mensen die reeds gevaccineerd zijn.
        </p>
        <p>
            Als er iemand in de thuissituatie is en koorts heeft en/of benauwdheidsklachten kan de praktijk ook niet
            bezocht worden. Ook als iemand uit het gezin in quarantaine zit, kan de praktijk niet bezocht worden.
            Uiteraard geldt dit andersom ook en moet ik ook afbellen als ik deze verschijnselen heb helaas.
        </p>
        <p>
            Het dragen van een mondkapje is verplicht tot op de stoel en bij pedicure gedurende de hele behandeling.
        </p>
        <p>
            Verder loopt het in de praktijk ook een beetje anders:
        </p>
        <p>
            Ik neem niet meer netjes de jas aan maar deze moet zelf zonder kleerhanger worden opgehangen en bij het
            verlaten van de praktijk hetzelfde.
        </p>
        <p>
            Daarna verzoek ik om in het toilet de handen te wassen met een desinfecterende zeep. Doe de kraan uit met
            het gebruikte handdoekje en open hiermee eventueel ook weer de deur. Deponeer het handdoekje in het daarvoor
            bestemde mandje. Het licht gaat vanzelf aan en uit.
        </p>
        <p>
            De stoel heeft extra handdoekjes op de armleuningen en onder de deken wordt ook een extra badlaken gelegd.
        </p>
        <p>
            Uiteraard neem ik alle hygiëne maatregelen in acht en werk ik zelf met mondkapje.
        </p>
        <p>
            Mocht er bij het verlaten van de behandelkamer al een cliënt zitten te wachten in de wachtruimte zal ik 1
            van beide vragen om in de kleine behandelruimte te wachten of via mijn kantoortje te lopen zodat we elkaar
            op gepaste afstand kunnen passeren.
        </p>
        <p>
            Ik hoop jullie allemaal in goede gezondheid te mogen zien!
        </p>
        <p>
            Lieve groet Susan
        </p>
    </div>
</div>
