<div class="header-row-bg">
    <est-pagewidth-container class="header-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Onze Merken</h1>
            <p>Wij streven er naar zo veel mogelijk te werken met biologische produkten.</p>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Alissi Brontë</h1>
            <p>Alissi Brontë is een Spaans biologisch merk dat al sinds 1969 bestaat.</p>
            <p>Het is opgericht door een erkende schoonheidsspecialiste en een plastisch chirurg.</p>
            <p>
                Zij staan voor prestigieuze, hoogwaardige en wetenschappelijke cosmetica met natuurlijke, biologische en
                ecologische ingrediënten.
            </p>
            <p>
                Alle producten bevatten essentiële oliën en plantenextracten en zijn vrij van parabenen, minerale oliën,
                paraffine en conserveermiddelen. Luxe werkzame ingrediënten zoals parel, zijde en diamant worden in
                verschillende producten gebruikt om celregeneratie te bevorderen.
            </p>
            <p>
                Veel van de Alissi Brontë producten bevatten ook 24k goud voor een krachtige bio-energetische werking.
                Daarnaast heeft 24k goud een belangrijke rol bij cel vernieuwing.
            </p>
            <p>Uiteraard zijn de producten niet op dieren getest.</p>
            <p>
                Alisssi Brontë behaalt jaarlijks nationale en internationale erkende certificaten op het gebied van
                kwaliteit, milieu, organische en natuurlijke producten.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/alissibronte.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Eve Tailor</h1>
            <p>Eve Tailor is een Engels familiebedrijf dat al meer dan 50 jaar bestaat.</p>
            <p>
                De oprichtster Eve Tailor leeft nog en is inmiddels in de 90, maar houdt nog steeds contact met haar 5
                zoons die het bedrijf nu runnen.
            </p>
            <p>
                Het is een bedrijf dat professionele huidverzorging en lichaamsverzorging ontwikkeld en produceert op
                basis van aromatherapie. Dit alles in eigen beheer in Engeland.
            </p>
            <p>
                Alle producten worden in kleine partijen geproduceerd waardoor ze kracht en frisheid behouden. De
                producten zijn parabeen vrij en bevatten alleen bewezen veilige ingrediënten en zijn uiteraard niet op
                dieren getest maar op vrijwilligers.
            </p>
            <p>Inmiddels bestaat het assortiment uit meer dan 600 producten!</p>
            <p>De verpakkingen zijn recyclebaar en voor ieder gekocht product wordt een boom geplant.</p>
            <p>Een betaalbaar zuiver merk dat voor iedereen toegankelijk is!</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/evetailor.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Chi</h1>
            <p>
                In de praktijk worden ook producten van Chi gebruikt. Chi is een Nederlands merk voor essentiële oliën
                en aanverwante producten. De essentiële oliën zijn breed inzetbaar voor verschillende doeleinden, zowel
                cosmetisch als therapeutisch.
            </p>
            <p>Alle massages worden met de massageoliën van Chi uitgevoerd.</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/chi.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Zao</h1>
            <p>Zao is een make-upmerk met natuurlijke kleuren.</p>
            <p>Het is biologisch en veganistisch gecertificeerd.</p>
            <p>
                De texturen voelen prettig aan blijven goed zitten en zijn niet geparfumeerd, bevatten geen synthetische
                conserveermiddelen zoals parabenen of ingrediënten uit de petrochemische industrie.
            </p>
            <p>De producten zijn uiteraard niet op dieren getest.</p>
            <p>
                De mooie bamboe verpakkingen zijn te gebruiken als refill en daarmee is het merk ook mileu vriendelijk
                en economisch aantrekkelijk.
            </p>
            <p>Zie ook <a href="http://zaomakeup.eu/">zaomakeup.eu</a></p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/annecy.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Orthica</h1>
            <p>
                Ortica is een merk voor kwalitatief hoogwaardige voedingssupplementen van Nederlandse bodem. Wij zijn
                gecertificeerd om dit merk te mogen aanbieden.
            </p>
            <p>Supplementen kunnen gegeven worden om een optimale gezondheid te bevorderen.</p>
            <p>
                Vaak krijgen we te weinig vitamines en mineralen binnen via onze voeding. Ook door andere factoren
                kunnen er tekorten voorkomen zoals bijvoorbeeld ziekte, stress, zwangerschap, overgang, enz.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/orthica.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" [hGutter]="true" [vGutter]="true">
        <div>
            <h1>Nesti Dante</h1>
            <p>Fijne zepen, zowel compact als vloeibaar, en douchegel uit Italië.</p>
            <p>
                Deze heerlijk geurende producten zijn van zeer goede kwaliteit. Ze worden in Firenze met veel zorg
                geproduceerd sinds 1947.
            </p>
            <p>
                De ingrediënten komen van plantaardige oliën van ecologische plantages. De producten bevatten geen palm-
                of minerale oliën, geen parabenen, EDTA en geen ingrediënten van dierlijke oorsprong. De producten zijn
                biologisch afbreekbaar en vegan friendly. Ook de verpakkingen zijn volledig recyclebaar.
            </p>
            <p>Fijn om cadeau te geven of om heerlijk zelf te kunnen genieten!</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/nestidante.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
