<div class="header-row-bg">
    <est-pagewidth-container class="header-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Onze Merken</h1>
            <p>
                Wij streven er naar zo veel mogelijk te werken met biologische produkten.
            </p>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Alissi Brontë</h1>
            <p>Alissi Brontë is een Spaans biologisch merk dat al sinds 1969 bestaat.</p>
            <p>Het is opgericht door een erkende schoonheidsspecialiste en een plastisch chirurg.</p>
            <p>
                Zij staan voor prestigieuze, hoogwaardige en wetenschappelijke cosmetica met natuurlijke, biologische en
                ecologische ingrediënten.
            </p>
            <p>
                Alle producten bevatten essentiële oliën en plantenextracten en zijn vrij van parabenen, minerale oliën,
                paraffine en conserveermiddelen. Luxe werkzame ingrediënten zoals parel, zijde en diamant worden in
                verschillende producten gebruikt om celregeneratie te bevorderen.
            </p>
            <p>
                Veel van de Alissi Brontë producten bevatten ook 24k goud voor een krachtige bio-energetische werking.
                Daarnaast heeft 24k goud een belangrijke rol bij cel vernieuwing.
            </p>
            <p>Uiteraard zijn de producten niet op dieren getest.</p>
            <p>
                Alisssi Brontë behaalt jaarlijks nationale en internationale erkende certificaten op het gebied van
                kwaliteit, milieu, organische en natuurlijke producten.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/alissibronte.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Eve Tailor</h1>
            <p>Eve Tailor is een Engels familiebedrijf dat al meer dan 50 jaar bestaat.</p>
            <p>
                De oprichtster Eve Tailor leeft nog en is inmiddels in de 90, maar houdt nog steeds contact met haar 5
                zoons die het bedrijf nu runnen.
            </p>
            <p>
                Het is een bedrijf dat professionele huidverzorging en lichaamsverzorging ontwikkeld en produceert op
                basis van aromatherapie. Dit alles in eigen beheer in Engeland.
            </p>
            <p>
                Alle producten worden in kleine partijen geproduceerd waardoor ze kracht en frisheid behouden. De
                producten zijn parabeen vrij en bevatten alleen bewezen veilige ingrediënten en zijn uiteraard niet op
                dieren getest maar op vrijwilligers.
            </p>
            <p>Inmiddels bestaat het assortiment uit meer dan 600 producten!</p>
            <p>De verpakkingen zijn recyclebaar en voor ieder gekocht product wordt een boom geplant.</p>
            <p>Een betaalbaar zuiver merk dat voor iedereen toegankelijk is!</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/evetailor.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Chi</h1>
            <p>
                In de praktijk worden ook producten van Chi gebruikt. Chi is een Nederlands merk voor essentiële oliën
                en aanverwante producten. De essentiële oliën zijn breed inzetbaar voor verschillende doeleinden, zowel
                cosmetisch als therapeutisch.
            </p>
            <p>Alle massages worden met de massageoliën van Chi uitgevoerd.</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/chi.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Piroche</h1>
            <p>
                Piroche is een Italiaans merk dat z'n basis heeft in de Chinese geneeskunde. Het is ontwikkeld door een
                Zwitserse bioloog die de oosterse en westerse zienswijze op een werkbare manier met elkaar heeft
                verbonden. Er wordt veel gewerkt met essentiële oliën en plantaardige ingrediënten. De
                expressionsbehandeling tegen expressierimpels wordt volledig door dit merk gegeven.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/piroche.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Zao</h1>
            <p>Zao is een make-upmerk met natuurlijke kleuren.</p>
            <p>Het is biologisch en veganistisch gecertificeerd.</p>
            <p>
                De texturen voelen prettig aan blijven goed zitten en zijn niet geparfumeerd, bevatten geen synthetische
                conserveermiddelen zoals parabenen of ingrediënten uit de petrochemische industrie.
            </p>
            <p>De producten zijn uiteraard niet op dieren getest.</p>
            <p>
                De mooie bamboe verpakkingen zijn te gebruiken als refill en daarmee is het merk ook mileu vriendelijk
                en economisch aantrekkelijk.
            </p>
            <p>Zie ook <a href="http://zaomakeup.eu/">zaomakeup.eu</a></p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/annecy.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Uspa</h1>
            <p>Uspa is een volledig biologisch plantaardig merk uit Australië voor huid-en haarverzorging.</p>
            <p>De producten zijn vrij van conserveringsmiddelen, kleurstoffen en synthetische parfumstoffen.</p>
            <p>
                Ook minerale stoffen zoals vaseline en paraffine zult U niet aantreffen. De planten zijn zoveel mogelijk
                biologisch geteeld.
            </p>
            <p>
                De producten worden d.m.v. essentiële oliën geconserveerd en krijgen daardoor als fijne bijkomstigheid
                een heerlijke geur.
            </p>
            <p>
                Daarnaast hebben deze oliën hele gunstige eigenschappen voor de huid. Er wordt veel gewerkt met o.a.
                citrusoliën en Bulgaarse roos.
            </p>
            <p>
                Ook aan de verpakking is gedacht: die is volledig recyclebaar. De opening is klein gehouden om het
                gebruik goed te kunnen doseren en een langere houdbaarheid te geven.
            </p>
            <p>
                Gezien het feit dat ons lichaam al genoeg te verduren heeft met alle milieuverontreinigende stoffen is
                Uspa een verademing voor ons lichaam en onze omgeving.
            </p>
            <p>Deze producten zijn niet op dieren getest.</p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/uspa.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Antipodes</h1>
            <p>Antipodes is een biologisch huidverzorgingsmerk uit Nieuw Zeeland.</p>
            <p>Het is een merk dat gecertificeerd is door het onafhankelijke overheidsorgaan AsureQuality Ltd.</p>
            <p>
                Een toonaangevend orgaan voor voeding en bio-veiligheid op het zuidelijk halfrond. Dit houdt in 100%
                natuurlijke ingredienten;70-95% van deze natuurlijke ingrediënten moeten gecertificeerd biologisch zijn
                en overige ingrediënten moeten beheerd worden door strenge internationale criteria.
            </p>
            <p>
                De producten bevatten ingrediënten uit duurzaam geteelde planten en de verpakkingen zijn recyclebaar.
                Uiteraard is dit merk niet op dieren getest.
            </p>
            <p>
                Antipodes richt zich met name op antihuidveroudering en hydratatie. Met name avocado olie, extracten uit
                druivenpitten (Sauvignon Blanc en Pinot Noir) en extract uit de schil van kiwi zorgen hiervoor door
                middel van onder andere hun werking als antioxidant en stimulering van de vorming van collageen en
                elastine in de huid.
            </p>
            <p>Er wordt gewerkt met een 3 stappen plan:</p>
            <ol>
                <li>Dagelijks reinigen: door middel van hoogwaardige reinigingsproducten.</li>
                <li>
                    Dagelijkse ultra zorg: door toepassen van serums, gezichtsoliën en huidbalsems om specifieke
                    problemen op te lossen.
                </li>
                <li>Dagelijks hydrateren: met heerlijk zacht geurende crèmes.</li>
            </ol>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/antipodes.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
<div class="brand-row-bg">
    <est-pagewidth-container class="brand-row-content" hGutter="true" vGutter="true">
        <div>
            <h1>Orthica</h1>
            <p>
                Ortica is een merk voor kwalitatief hoogwaardige voedingssupplementen van Nederlandse bodem. Wij zijn
                gecertificeerd om dit merk te mogen aanbieden.
            </p>
            <p>Supplementen kunnen gegeven worden om een optimale gezondheid te bevorderen.</p>
            <p>
                Vaak krijgen we te weinig vitamines en mineralen binnen via onze voeding. Ook door andere factoren
                kunnen er tekorten voorkomen zoals bijvoorbeeld ziekte, stress, zwangerschap, overgang, enz.
            </p>
        </div>
        <div>
            <est-lightbox-image src="../../../assets/produkten/orthica.jpg"></est-lightbox-image>
        </div>
    </est-pagewidth-container>
</div>
